<extend name="Public:layout" />
<block name="title">
	<title>作品列表 - 布置师 - 易结网</title>
</block>
<block name="style">
		<link rel="shortcut icon" href="http://easywed.cn/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/global.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/vendors.css">
		<link charset="utf-8" rel="stylesheet" href="http://static.easywed.cn/dist/js/lib/laydate/need/laydate.css?141110"><link charset="utf-8" rel="stylesheet" href="http://static.easywed.cn/dist/js/lib/laydate/skins/molv/laydate.css?141110"></head>
</block>
<block name="eachContent">	
	<div class="w pb20">
    <!--标题-->
    <div class="ui-nav-class  clx">
		<ul class="fl">
					<li><a href="__APP__/compere/index">主持人</a></li>
					<li><a href="__APP__/designer/index" >婚礼造型</a></li>
					<li><a href="__APP__/cameraman/index">婚礼摄像</a></li>
					<li><a href="__APP__/assigner/index"  class="on">场地布置</a></li>
					<li><a href="__APP__/planner/index">婚礼策划</a></li>
			</ul>
</div>
          
	<div class="w pb20">
        <!--面包屑开始-->
        <div class="ui-nav-crumbs pt10 text-overflow">
             <a href="__URL__/index">首页</a><i>&gt;</i><a href="__URL__/index">布置师</a><i>&gt;</i>作品
        </div>
        <div class="wrap clx pt20">
            <div class="wrap-fl fl">
                <!-- 作者信息 -->
			<volist name="mod" id="vo">	
                <div class="author clx">
	<div class="ui-photo c150-150 fl">
		<img width="150" height="150" src="__PUBLIC__/Uploads/marriager/{$vo.pic}" alt="{$vo.name}">
		<i class="hack"></i>
	</div>

	<div class="pl30 fl author-info pt16">
		<div class="author-name">
			<h2 class="text-overflow">{$vo.name}</h2>
		</div>
                <!--易结认证-->
                <div class="vendors-easywed-rz mt10">
                    <p>易结认证</p>
                </div>            
            		<div class="author-address pt10">
						<span><i class="icons  icon-job-3"></i>布置师</span>
					</div>

		<div class="author-hit">
			<p>
				<i class="icons icon-19"></i>赞<i class="num">33</i>
			</p>
			<p>
				<i class="icons icon-20"></i>浏览<i class="num">120</i>
			</p>
		</div>
                <!--易结价-->
                
                
                <!--普通-->
                                    
                                                <p class="vendors-easywed-price">易结价：￥6000</p>
                            
                     
                
	</div>
		<div class="author-about fr pt16">
		<h3 class="ui-h3 text-overflow">
			关于我
		</h3>
		<!-- 关于我的内容,需要去HTML代码 -->		
		<p class="pt10">
	 {$vo.detail}
</p>
	</div>
	</div>
	

                <!-- 导航 -->
                <div class="ui-nav-big pt30">
<!-- 
如果有消息则给a里添加i
高亮则给a.class = 'on'
-->
<ul class="clx">
	<li>
		<a href="__URL__/work/id/{$vo.id}" class="on">
			作品<i></i>			<b class="arrow"></b>
		</a>
	</li>
	<li>
		<a href="__URL__/serve/id/{$vo.id}">
			服务
			<b class="arrow"></b>
		</a>
	</li>
	<li>
		<a href="__URL__/price/id/{$vo.id}">
			报价
			<b class="arrow"></b>
		</a>
	</li>
	<li>
		<a href="__URL__/special/id/{$vo.id}">
			专栏<i></i>			<b class="arrow"></b>
		</a>
	</li>
</ul>
</div> </volist>              
                <!-- 小分类导航, 如果没有则整个消失, 高亮添加 class=on -->
                <div class="ui-nav-sub pt20">
                                            <a href="__URL__/index" class="on">布置师</a>
                                    </div>
                <!-- 没有列表数据显示 -->
                                    <!-- 数据列表如果没有数据不显示循环li标签 -->
                    <div class="opus-list pt20">
                    <ul class="opus-list-ul" id="j-list">
                                 <volist name="datas" id="vos">								 <!-- 如果 图片 > 3 && 图片 <  12 -->
                                <li class="mode-7">
                                    <!-- 如果图片 <= 3 -->
                                    <div class="opus-title">
										
                                        <div class="fl">
                                            <h4>
                                                <a href="__URL__/workInfo/id/{$vos.id}" style="font-size:20px;">{$vos.xname}</a>
                                            </h4>
                                        </div>
                                        <div class="fr">
                                            <span></span>
                                            <span>
                                                                                                                                                            </span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </div>
									</volist>
                                    <!-- 循环图片 li,有大小判断 -->
									                                    
									 
                                <!-- 分页: 如果没有数据或者没有分页 分页导航不显示 -->
</div>
</div>
</div>
</div>
</block>