<div class="pageContent">
	<form method="post" action="__URL__/insert/navTabId/goodslist/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);">
		<input type="hidden" name="id" value="{$vo.id}"/>
		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>分类名称：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="catname" value="{$vo.catname}"/></dd>
			</dl>
			
			<if condition="isset($_GET['id'])">
				<input type="hidden" name="pid" value="{$Think.get.id}"/>
			<else/>
			<dl>
				<dt>所属类别：</dt>
				<dd>
					<select name="pid" id="">
						<option value="0">根类别</option>
						<volist name="catlist" id="cat">
							<option value="{$cat['id']}">{:countPath($cat['path'])}{$cat['catname']}</option>
						</volist>
					</select>
				</dd>	
			</dl>
			</if>
			
			<dl>
				<dt>是否首页展示：</dt>
				<dd><input type="radio" name="is_menu" value="1"/>是
					<input type="radio" name="is_menu" value="0" checked />否</dd>
			</dl>
			
		</div>

		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

