
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/adminlist/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);">
		<!-- 隐藏域 -->
		<input type="hidden" name="id" value="{$vo.id}"/>
		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>用户名:</dt>
				<dd><input type="text"  class="required" name='admin_name' value="{$vo.admin_name}" <if condition="$vo.admin_name eq admin">disabled="true"</if>></dd>
			</dl>
			
			<dl>
				<dt>邮箱：</dt>
				<dd><input type="text"  class="required" name='email' value="{$vo.email}"></dd>
			</dl>
			
			<dl>
				<dt>是否启用</dt>
				<dd>
				<input type="radio"  class="required" name="stutas" value="0" <if condition="$vo.enabled eq 0">checked</if>/>启用
				<input type="radio"  class="required" name="stutas" value="1" <if condition="$vo.enabled eq 1">checked</if>/>禁用</dd>
			</dl>
			
			<dl>
				<dt>分配角色：</dt>
				<div style="float:left;margin:8px;">
				<volist name="rolelist" id="role">
					<input type="checkbox" name="rids[]" value="{$role.id}" <if condition="in_array($role[id],$rid)">checked</if>/>{$role.role_myname} 
				</volist>
				</div>
			</dl>
			
		</div>
		
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

