<form id="pagerForm" action="__URL__/index" method="post">
	<input type="hidden" name="pageNum" value="{$currentPage|default='1'}" />
	<input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
	<input type="hidden" name="_order" value="{$Think.request._order}"/>
	<input type="hidden" name="_sort" value="{$Think.request._sort}"/>
</form>
<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" method="post">
	<input type="hidden" name="numPerPage" value="{$numPerPage}" /><!--每页显示多少条-->
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					<b>搜索</b> &nbsp; 主题关键字：<input type="text" name="keyword" value="{$Think.post.keyword}" /> 
				</td>
				<td>
					<div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="delete" href="__URL__/delete_tag/id/{$Think.config.TMPL_L_DELIM}item_id{$Think.config.TMPL_R_DELIM}/navTabId/productionlist" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
			<li><a class="edit" href="__URL__/edit/id/{$Think.config.TMPL_L_DELIM}item_id{$Think.config.TMPL_R_DELIM}"  target="navTab"><span>编辑信息</span></a></li>
			<li><a class="add" href="__URL__/add" target="navTab" rel="productionlist" title="添加商品"><span>添加作品</span></a></li>
			<li><a class="icon"  href="javascript:navTabPageBreak()"><span>刷新</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="112">
		<thead>
		  <tr>
			<th width="40" orderField="id" <if condition="$Think.request._order eq 'id'">class="{$Think.request._sort}"</if>>ID</th>
			<th width="60" >主题</th>
			<!-- <th width="80">作品</th> -->
			<th width="100">酒店名</th>
			<th width="60" orderField="price" <if condition="$Think.request._order eq 'price'">class="{$Think.request._sort}"</if>>价格</th>
			<th width="150" >新人介绍</th>
			<th width="280" >婚礼要求</th>
			<th width="60" >详情</th>
			<th width="100" orderField="addtime" <if condition="$Think.request._order eq 'addtime'">class="{$Think.request._sort}"</if>>更新时间</th>
			<th width="80">操作</th>	
		  </tr>
		</thead>
		<tbody>
			<volist name="list" id="vo">
				<tr target="item_id" rel="{$vo.id}">
					<td>{$vo.id}</td>
					<td>{$vo.title}</td>
					<!-- <td><img src='{$vo.pro_name}'>{$vo.prc_name}</td> -->
					<td>{$vo.hole_name}</td>
					<td>{$vo.price}</td>
					<td>{$vo.presoninfo}</td>
					<td>{$vo.requires}</td>
					<!-- <td>{$vo.detail}</td> -->
					<td><a href="__URL__/view/id/{$vo.id}" target="navTab" title="详情"><span style="color:orange;vertical-align:middle">详情</span></a></td>
					<td>{$vo.addtime|date="Y-m-d H:i",###}</td>

					<td><a href="__URL__/edit/id/{$vo.id}/navTabId/productionlist" class="btnEdit" target="navTab" title="编辑商品信息"><span>编辑商品信息</span></a>
					<a href="__URL__/delete_tag/id/{$vo.id}" class="btnDel" target="ajaxTodo" title="确定要删除吗?"><span>删除商品</span></a></td>
				</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="numPerPage" onchange="navTabPageBreak({$Think.config.TMPL_L_DELIM}numPerPage:this.value{$Think.config.TMPL_R_DELIM})">
				<option value="10" <if condition="$numPerPage eq 10">selected</if>>10</option>
				<option value="15" <if condition="$numPerPage eq 15">selected</if>>15</option>
				<option value="20" <if condition="$numPerPage eq 20">selected</if>>20</option>
				<option value="25" <if condition="$numPerPage eq 25">selected</if>>25</option>
				<option value="30" <if condition="$numPerPage eq 30">selected</if>>30</option>
			</select>
			<span>共{$totalCount}条</span>
		</div>
		<div class="pagination" targetType="navTab" totalCount="{$totalCount}" numPerPage="{$numPerPage}" pageNumShown="5" currentPage="{$currentPage}"></div>
	</div>
</div>
