<extend name="Public:layout" />

<block name="title">
	<title> CoolMarry-酷结网</title>
</block>

<block name="style">
	  <link href="__PUBLIC__/css/shopping.css" rel="stylesheet" type="text/css" />
	  <script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
</block>

<block name="eachContent">
	<div class="w clearfix">
  <div class="clearfix page_area">
    <div class="user_default">
    	<div class="title_s mb0"><span class="title01_s">填写订单信息</span></div>
       	<div class="p0 flow">
        	<div class="order_title">配送地址</div>
            <div class="address_info">
				<table id="showinfo_id" width="600" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
						  <td width="80" align="right">接收姓名：</td>
						  <td width="320" align="left"><input name="tname" id="tname" size="50" maxlength="20" type="text"></td>
						  <td>&nbsp; </td>
						</tr>
						
						<tr>
						  <td width="80" align="right">详细地址：</td>
							<td width="320" align="left"><input name="address" id="address" maxlength="50" size="50" type="text"></td>
							<td align="left">（填写详细地址有助于快速配送） </td>
						</tr>
						<tr>
						  <td width="80" align="right">邮政编码：</td>
							<td width="320" align="left"><input name="zipcode" id="zipcode" size="50" type="text"></td>
							<td>&nbsp; </td>
						</tr>
						<tr>
						  <td width="80" align="right">手机号码：</td>
						  <td width="320" align="left"><input name="phone" id="phone" size="20" type="text"></td>
						  <td><input class="bot_red_4" value="" name="address_id" type="hidden"></td>
						</tr>
					</tbody>
				</table>
            </div>
            
              
            </div>
            
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td align="center">
						  <button class="next01_s" />保存</button>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
  </div>
<script>
	$(".next01_s").click(function(){
		var tname=$("#tname").val();
		var address=$("#address").val();
		var zipcode=$("#zipcode").val();
		var phone=$("#phone").val();
		if(tname.length==0 ){
			alert("姓名不能为空");
		}else if(address.length==0){
			alert("地址不能为空");
		}else if(zipcode.length==0){
			alert("电话不能为空");
		}else{
			alert("我们会将你所得礼物尽快发给你!希望您的等级到白银,再来抽奖哦");
			location.href="__APP__/index";
		}
	})


</script>
 
</block>