
<div class="pageContent">
	<form method="post" action="__URL__/update/navTabId/columnlist/callbackType/closeCurrent"  class="pageForm required-validate" 
		onsubmit="return validateCallback(this,dialogAjaxDone);">
		<input type="hidden" name="id" value="{$vo.id}"/>
		<div class="pageFormContent" layoutH="60">
			<dl>
				<dt>栏目名称：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="columnname" value="{$vo.columnname}"/></dd>
			</dl>
			
			<dl>
				<dt>英文名称：</dt>
				<dd><input type="text" class="required"  style="width:100%" name="english" value="{$vo.english}"/></dd>
			</dl>
			
			<dl>
				<dt>特别注意：</dt><dd style="color:red">英文名称要定义为控制器名或方法名</dd>
			</dl>
			
			<dl>
				<dt>所属类别：</dt>
				<dd>
					<select name="pid">
						<option value="0">根类别</option>
						<volist name="catlist" id="cat">
							<option value="{$cat.id}" <if condition="$vo['pid'] eq $cat['id']">selected</if>>{:countPath($cat['path'])}{$cat.columnname}</option>
						</volist>
					</select></dd>
			</dl>
			
			<dl>
				<dt>是否首页展示：</dt>
				<dd><input type="radio" name="ismenu" value="1" <if condition="$vo.is_menu eq 1">checked</if>/>是
					<input type="radio" name="ismenu" value="0" <if condition="$vo.is_menu eq 0">checked</if>/>否</dd>
			</dl>
		</div>

		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

