<?php
	//前台跳转页面,BY 余建材 2014-10-18 13:35:56
    if(C('LAYOUT_ON')) {
        echo '{__NOLAYOUT__}';
    }
?>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>跳转提示</title>
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" />
<link href="__PUBLIC__/css/layout.css" rel="stylesheet" />
<link href="__PUBLIC__/css/common.css" rel="stylesheet" />
<link href="__PUBLIC__/css/tips.css" rel="stylesheet" />
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

	<!--header区域-->
	<include file="Common:header"/>
	<!--header区域结束-->


	<!--主体区域-->
	<div id="main">
		
		
		<div class="order">
			<div class="tipOrder">
				<?php if(isset($message)) {?>
					<p class="suce"><?php echo($message); ?>&nbsp;&nbsp;页面将自动<span class="lightgray"><a id="href" href="<?php echo($jumpUrl); ?>">跳转</a></span> 等待时间： <b id="wait"><?php echo($waitSecond); ?></b></p>
				<?php }else{?>
					<p class="lost"><?php echo($error); ?>&nbsp;&nbsp;页面将自动<span class="lightgray"><a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> 等待时间：</span> <b id="wait"><?php echo($waitSecond); ?></b></p>
				<?php }?>
			</div>
				
			<script type="text/javascript">
				(function(){
				var wait = document.getElementById('wait'),href = document.getElementById('href').href;
				var interval = setInterval(function(){
					var time = --wait.innerHTML;
					if(time <= 0) {
						location.href = href;
						clearInterval(interval);
					};
				}, 1000);
				})();
			</script>
		</div>
		
	</div>
	<!--主体区域结束-->

	<!--页脚区域-->
	<include file="Public:footer" />
	<!--页脚区域结束-->
</div>
</body>
</html>
