.wrap {
	width: 1000px;
	margin: 0 auto
}
.left_wrap {
	width: 800px;
	float: left
}
.right_wrap {
	width: 190px;
	float: right
}

.mb_10 {
	margin-bottom: 10px
}
.mb_15 {
	margin-bottom: 15px
}
.mb_20 {
	margin-bottom: 20px
}
.mb_30 {
	margin-bottom: 30px
}
.mb_25 {
	margin-bottom: 25px
}
.ml_15 {
	margin-left: 15px
}
.mr_20 {
	margin-right: 20px
}
.pd15 {
	padding: 0 15px
}
.mb_20 {
	margin-bottom: 20px
}
.mb_60 {
	margin-bottom: 60px
}
.pt_20 {
	padding-top: 20px
}
.fl {
	float: left;
	display: inline
}
.fr {
	float: right;
	display: inline
}
.c_2e9900 {
	color: #2e9900
}
.c_999 {
	color: #999
}
.c_f80 {
	color: #f80
}
.pos {
	position: relative
}
.f_yh {
	font-family: "Microsoft YaHei"
}
.left_yh, .right_yh {
	display: inline-block;
	width: 11px;
	height: 11px;
	overflow: hidden
}
.left_yh {
	background-position: -24px -179px
}
.right_yh {
	background-position: -40px -179px
}
.bodybg {
	background: #f7f7f7;
	padding-bottom: 30px
}
.top_area {
	height: 32px;
	padding-top: 7px;
	border-bottom: 2px solid #ececec;
	background: #fff
}
.top_area .wrap {
	width: 1000px;
	margin: 0 auto
}
.top_area .crumbs a {
	display: inline-block;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #666;
	height: 24px;
	line-height: 24px;
	vertical-align: top;
	padding: 0 10px
}
.top_area .crumbs .word:hover {
	color: #2f9901
}
.top_area .crumbs .word.cur {
	color: #fff;
	background: #2f9901
}
.top_area .crumbs .home {
	width: 38px;
	height: 24px;
	background-position: 10px 4px;
	padding: 0;
	margin-right: 5px
}
.top_area .crumbs .home.cur {
	background-position: -32px 0
}
.top_area .f_youji {
}
.f_youji .report {
	float: left;
	width: 69px;
	height: 26px;
	background: #ff9419;
	line-height: 26px;
	text-align: center;
	color: #fff;
	margin-right: 10px
}
.f_youji .report:hover {
	background: #f80
}
.top_area .searchBox {
	width: 200px;
	height: 26px;
	float: right
}
.top_area .searchBox input {
	width: 130px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #ddd;
	float: left;
	padding-left: 24px;
	background-position: -78px 5px
}
.top_area .searchBox .grey {
	color: #bbb
}
.top_area .searchBox .btn {
	width: 43px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 1px solid #ddd;
	border-left: 0 none;
	cursor: pointer;
	color: #333;
	float: left;
	background: #f9f9f9
}
.top_area .searchBox .btn:hover {
	background: #f2f2f2
}
.mainbody {
	width: 100%
}
.banner {
	height: 300px;
	width: 100%;
	position: relative
}

.banner .min_banner {
	height: 260px;
	width: 1000px;
	margin: 0 auto;
	padding-top: 10px;
	position: relative
}
.banner .min_banner .tn-slide {
	width: 600px;
	height: 260px;
	margin-left: 200px
}
.banner .min_banner .b_pic {
	position: absolute;
	right: 0;
	top: 20px;
	width: 200px
}
#tn-slide, #tn-slide ul li {
	width: 600px!important;
	height: 260px!important;
	overflow: hidden
}
#tn-slide ul li img {
	width: 600px;
	height: auto
}
.sub_nav {
	width: 188px;
	height: 258px;
	position: absolute;
	left: 0;
	top: 20px;
	background: #fff;
	border: 1px solid #eaeaea;
	z-index: 100
}
.sub_nav .item {
	border-top: 1px solid #f8f8f8;
	height: 64px;
	position: relative
}
.sub_nav .item_first {
	top: -1px
}
.sub_nav .left_title {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	position: relative;
	left: -1px;
	height: 62px
}
.sub_nav .left_title .s_icon {
	display: inline-block;
	width: 20px;
	height: 21px;
	position: absolute;
	left: 14px;
	top: 23px
}
.sub_nav .left_title .dj {
	background-position: 0 -27px
}
.sub_nav .left_title .zt {
	background-position: 0 -50px
}
.sub_nav .left_title .cj {
	background-position: 0 -74px
}
.sub_nav .left_title .gn {
	background-position: 0 -97px
}
.sub_nav .item a:hover {
	color: #f80
}
.sub_nav .top_h3 {
	margin-left: 45px;
	position: relative;
	width: 143px;
	background: #fff;
	padding-top: 12px;
	height: 50px
}
.sub_nav .on .top_h3 {
	width: 144px;
	z-index: 10
}
.sub_nav .top_h3 .tit {
	font-size: 14px;
	color: #333;
	font-family: "Microsoft YaHei"
}
.sub_nav .top_h3 .eg a {
	color: #999;
	margin-right: 5px
}
.sub_nav .top_h3 .eg a:hover {
	color: #f80;
	text-decoration: underline
}
.sub_nav_inner s {
	background-position: 0 -123px;
	display: block;
	position: absolute;
	top: 26px;
	left: 165px;
	width: 9px;
	height: 9px
}
.sub_nav_inner .item .i-mc {
	display: none;
	position: absolute;
	left: 187px;
	top: -1px;
	width: 450px;
	background: #fff;
	z-index: 8;
	border: 1px solid #f80
}
.sub_nav_inner .subitem {
	padding: 5px 0 5px 15px
}
.sub_nav_inner .subitem dl {
	overflow: hidden;
	zoom: 1;
	padding: 5px 0
}
.sub_nav_inner .subitem dt {
	float: left;
	width: 60px;
	line-height: 20px;
	text-align: left
}
.sub_nav_inner .subitem dt a {
	color: #2b9800
}
.sub_nav_inner .subitem dt a:hover {
}
.sub_nav_inner .subitem dt span {
	color: #666
}
.sub_nav_inner .subitem dd {
	float: left;
	width: 315px
}
.sub_nav_inner .subitem em {
	float: left;
	font-style: normal;
	white-space: nowrap;
	height: 14px;
	line-height: 14px;
	border-right: 1px solid #dedede;
	margin: 3px 0;
	padding: 0 8px
}
.sub_nav_inner .subitem em:last-child {
	border: 0 none
}
.sub_nav_inner .subitem em b {
	font-weight: 400;
	color: #999
}
.sub_nav_inner .subitem dd a {
	font-style: normal;
	white-space: nowrap;
	text-decoration: none;
	color: #2e9900
}
.sub_nav_inner .subitem dd .f_f80 {
	color: #f80
}
.sub_nav_inner .subitem dd a:hover {
	color: #f80;
	text-decoration: underline
}
.sub_nav_inner .on .i-mc {
	display: block
}
.sub_nav_inner .on .left_title {
	border: 1px solid #f80;
	border-right: 0 none;
	border-top: 0 none
}
.sub_nav_inner .item.on {
	border-top: 1px solid #f80
}
.mainbody .tour_list {
	margin-bottom: 25px
}
.threeList {
}
.tour_tit {
	border-bottom: 2px solid #b3b3b3;
	padding-bottom: 5px;
	position: relative
}
.tour_tit .left_part {
	color: #2e9700;
	float: left;
	font: bold 16px/20px "Microsoft Yahei";
	margin-right: 15px;
	padding-left: 5px
}
.tour_tit .right_part {
	float: right
}
.tour_tit .more {
	color: #999
}
.tour_tit .more:hover {
	color: #2e9900
}
.partbox {
	padding-top: 15px;
	position: relative;
	background: #fff;
	border: 1px solid #eaeaea
}
.partbox.no_padding {
	padding-top: 0
}
.tour_list_yellow .tour_tit {
	border-bottom: 2px solid #ffba6c
}
.threeCity {
	border-top: 0 none
}
.threeCity .partbox {
	border: 1px solid #ffcd7c
}
.threeCity .left_part {
	width: 111px;
	height: 20px;
	background-position: 0 -142px;
	position: absolute;
	left: -1px;
	bottom: -5px;
	z-index: 10
}
.threeCity .right_part {
	width: 155px;
	height: 10px;
	background-position: 0 -167px;
	position: absolute;
	right: -1px;
	bottom: -5px;
	_display: none
}
.threeCity .partbox_item {
	padding: 0 15px
}
.part_list {
	padding: 15px 0;
	border-bottom: 1px dotted #ddd;
	margin-bottom: -1px
}
.part_list .pic {
	width: 240px;
	float: left;
	overflow: hidden;
	margin-right: 15px;
	position: relative
}
.part_list .pic img {
	width: 240px
}
.part_list .top {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: #ff9c07;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	font-family: Tahoma;
	text-align: center;
	line-height: 16px
}
.part_list .top i {
	display: block;
	width: 19px;
	height: 8px;
	background-position: 0 -180px;
	margin: 7px 0 0 8px;
	_display: none;
	_padding-top: 8px;
	_height: 27px
}
.part_list .des {
	float: left;
	width: 712px
}
.part_list .des .note_title {
	font-size: 14px;
	color: #ffba6c;
	font-family: "Microsoft Yahei";
	margin-bottom: 5px
}
.part_list .des .note_title em {
	font-size: 24px;
	color: #333;
	font-style:normal;
	font-family: "Microsoft Yahei";
	margin-right: 5px
	
}
.part_list .des .note_title i {
	background: #43b313;
	display: inline-block;
	height: 20px;
	margin-right: 3px;
	vertical-align: -2px;
	width: 5px;
	margin-right: 5px;
	
	border-radius: 1px
}
.part_list .des .mainmes {
	color: #999;
	height: 80px;
	overflow: hidden;
	line-height: 20px
}
.part_list .des .mainmes.mb_15 {
	margin-bottom: 5px
}
.part_list .about_line {
	background: #f8f8f8;
	padding: 8px 15px
}
.part_list .about_line ul {
	background: #fff;
	border: 1px solid #eee
}
.part_list .about_line li {
	width: 320px;
	float: left;
	padding: 10px 0;
	border-bottom: 1px dotted #ddd;
	display: inline;
	margin: 0 10px -1px
}
.part_list .about_line .pic {
	width: 70px;
	height: 50px;
	margin-right: 5px
}
.part_list .about_line .pic img {
	width: 70px
}
.part_list .about_line .des {
	width: 240px
}
.part_list .about_line .des .note_title {
	font-size: 12px;
	margin-bottom: 3px;
	height: 20px;
	overflow: hidden
}
.part_list .about_line .des .note_title a:hover {
	color: #f80;
	text-decoration: underline
}
.part_list .about_line .des .auther {
	color: #999
}
.part_list .about_line .des .auther a:hover {
	color: #f80;
	text-decoration: underline
}
.hot_tour_list .tip {
	width: 136px;
	height: 24px;
	background-position: 0 -192px;
	position: absolute;
	left: 90px;
	bottom: 0
}
.pic_dest_ads {
	position: relative;
	height: 300px;
	padding-bottom: 15px
}
.pic_dest_ads a, .pic_dest_ads img {
	display: block
}
.pic_dest_ads a span {
	display: block;
	position: absolute
}
.pic_dest_ads .dd {
	position: absolute
}
.pic_dest_ads .dd .bg {
	position: absolute;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 6
}
.pic_dest_ads .pd_ad1 {
	top: 0;
	left: 15px;
	width: 190px;
	height: 300px
}
.pic_dest_ads .pd_ad2 {
	top: 0;
	left: 215px;
	width: 370px;
	height: 145px
}
.pic_dest_ads .pd_ad3 {
	top: 0;
	left: 595px;
	width: 190px;
	height: 145px
}
.pic_dest_ads .pd_ad4 {
	top: 0;
	left: 795px;
	width: 190px;
	height: 300px
}
.pic_dest_ads .pd_ad5 {
	top: 155px;
	left: 215px;
	width: 190px;
	height: 145px
}
.pic_dest_ads .pd_ad6 {
	top: 155px;
	left: 415px;
	width: 370px;
	height: 145px
}
.pic_dest_ads .dd .bg {
	display: none
}
.pic_dest_ads .pd_ad1 .bg {
	top: 0;
	left: 0;
	width: 190px;
	height: 300px
}
.pic_dest_ads .pd_ad2 .bg {
	top: 0;
	left: 0;
	width: 370px;
	height: 145px
}
.pic_dest_ads .pd_ad3 .bg {
	top: 0;
	left: 0;
	width: 190px;
	height: 145px
}
.pic_dest_ads .pd_ad4 .bg {
	top: 0;
	left: 0;
	width: 190px;
	height: 300px
}
.pic_dest_ads .pd_ad5 .bg {
	top: 0;
	left: 0;
	width: 190px;
	height: 145px
}
.pic_dest_ads .pd_ad6 .bg {
	top: 0;
	left: 0;
	width: 370px;
	height: 145px
}
.pic_dest_ads .text_bg {
	display: inline-block;
	height: 40px;
	position: absolute;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: 5
}
.pic_dest_ads .pd_ad1 .text_bg, .pic_dest_ads .pd_ad1 .text {
	bottom: 0;
	left: 0;
	width: 190px
}
.pic_dest_ads .pd_ad2 .text_bg, .pic_dest_ads .pd_ad2 .text {
	bottom: 0;
	left: 0;
	width: 370px
}
.pic_dest_ads .pd_ad3 .text_bg, .pic_dest_ads .pd_ad3 .text {
	bottom: 0;
	left: 0;
	width: 190px
}
.pic_dest_ads .pd_ad4 .text_bg, .pic_dest_ads .pd_ad4 .text {
	bottom: 0;
	left: 0;
	width: 190px
}
.pic_dest_ads .pd_ad5 .text_bg, .pic_dest_ads .pd_ad5 .text {
	bottom: 0;
	left: 0;
	width: 190px
}
.pic_dest_ads .pd_ad6 .text_bg, .pic_dest_ads .pd_ad6 .text {
	bottom: 0;
	left: 0;
	width: 370px
}
.pic_dest_ads .dd .text {
	text-align: center;
	bottom: 5px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #fff;
	position: absolute;
	z-index: 10
}
.pic_dest_ads .dd .text:hover {
	color: #f80;
	text-decoration: underline
}
.day_nav {
	margin: 0 15px 15px;
	border-bottom: 1px dotted #ddd;
	_border-bottom: 0 none;
	position: relative;
	_position: static;
	top: -10px;
	_top: 0px;
	padding-left: 13px;
	height: 52px
}
.day_nav li {
	float: left;
	width: 78px;
	overflow: hidden;
	position: relative;
	top: 14px;
	_position: static;
	_top: 0px;
	cursor: pointer
}
.day_nav li p {
	text-align: center;
	margin-bottom: 8px
}
.day_nav li span {
	color: #666;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	padding: 3px 15px;
	border-radius: 1px
}
.day_nav li span i {
	position: absolute;
	left: 40%;
	top: 15px;
	color: #68ca3f;
	display: none
}
.day_nav li em {
	display: inline-block;
	width: 78px;
	height: 12px;
	background-position: 0 -224px;
	overflow: hidden
}
.day_nav li.cur em {
	background-position: -89px -224px
}
.day_nav li.cur span {
	color: #fff;
	background: #68ca3f;
	_overflow: hidden
}
.day_nav li.cur span i {
	display: block;
	_display: none
}
.day_con {
	padding-bottom: 5px;
*padding-bottom:15px
}
.small_pic_con {
	padding-left: 15px
}
.small_pic_con li {
	width: 110px;
	height: 80px;
	overflow: hidden;
	float: left;
	margin: 0 12px 10px 0;
	position: relative;
	_position: relative
}
.small_pic_con li .pic {
	width: 110px;
	height: 80px;
	overflow: hidden
}
.small_pic_con li .pic img {
	width: 110px;
	display: block
}
.small_pic_con li .pic .des_bg {
	width: 110px;
	height: 25px;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: absolute;
	left: 0;
	bottom: 0
}
.small_pic_con li .pic .name {
	position: absolute;
	left: 7px;
	bottom: 2px;
	color: #fff;
	font-size: 14px;
	font-family: "Microsoft Yahei"
}
.small_pic_con li .pic .name:hover {
	color: #f80;
	text-decoration: underline
}
.moreCity_bg {
	width: 100%;
	padding: 30px 0 20px;
	background: #eaeaea
}
.moreCity_inner dl {
	padding-bottom: 30px
}
.moreCity_inner dt {
	font-size: 14px;
	font-weight: bold;
	font-family: "Microsoft Yahei";
	color: #999;
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 5px;
	margin-bottom: 5px
}
.moreCity_inner dd {
	padding: 0 20px 0 5px
}
.moreCity_inner dd a {
	color: #666;
	line-height: 18px;
	margin-right: 20px;
	display: inline-block
}
.moreCity_inner dd a:hover {
	color: #f80;
	text-decoration: underline
}
.banner .inner_banner {
	width: 1000px;
	height: 300px;
	margin: 0 auto;
	position: relative
}
.banner .inner_banner .tn-slide, .banner .inner_banner .tn-slide li {
	width: 1000px;
	height: 300px
}
.banner .inner_banner .bg {
	width: 1000px
}
.pic_lvtu_ads {
	position: relative;
	height: 285px
}
.pic_lvtu_ads .pd_ad1 {
	top: 0;
	left: 15px;
	width: 240px;
	height: 285px
}
.pic_lvtu_ads .pd_ad2 {
	top: 0;
	left: 280px;
	width: 240px;
	height: 135px
}
.pic_lvtu_ads .pd_ad3 {
	top: 0;
	left: 545px;
	width: 240px;
	height: 135px
}
.pic_lvtu_ads .pd_ad4 {
	top: 150px;
	left: 280px;
	width: 240px;
	height: 135px
}
.pic_lvtu_ads .pd_ad5 {
	top: 150px;
	left: 545px;
	width: 240px;
	height: 135px
}
.pic_lvtu_ads .pd_ad1 .bg {
	top: 0;
	left: 0;
	width: 240px;
	height: 285px
}
.pic_lvtu_ads .pd_ad2 .bg {
	top: 0;
	left: 0;
	width: 240px;
	height: 135px
}
.pic_lvtu_ads .pd_ad3 .bg {
	top: 0;
	left: 0;
	width: 240px;
	height: 135px
}
.pic_lvtu_ads .pd_ad4 .bg {
	top: 0;
	left: 0;
	width: 240px;
	height: 135px
}
.pic_lvtu_ads .pd_ad5 .bg {
	top: 0;
	left: 0;
	width: 240px;
	height: 135px
}
.pic_lvtu_ads .dd .text_bg, .pic_lvtu_ads .dd .text {
	bottom: 0;
	left: 0;
	width: 240px
}
.pic_lvtu_ads .text_bg {
	height: 30px
}
.pic_lvtu_ads .dd .text {
	bottom: 5px;
	text-align: left;
	left: 10px
}
.pic_lvtu_ads .dd .pic_tip {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	color: #fff;
	font-size: 16px;
	font-family: "Microsoft Yahei";
	background: #68cc3d;
	height: 29px;
	line-height: 29px;
	padding: 0 8px
}
.pic_lvtu_ads .dd .pic:hover .text {
	color: #f80;
	text-decoration: underline
}
.pic_lvtu_ads .pic_tip:hover {
	color: #f80
}
.report.mr_0 {
	margin-right: 0
}
.partbox.pt0 {
	padding-top: 0
}
.tour_list_youji .partbox {
	padding-top: 0
}
.side-content .sub_nav {
	height: 259px
}
.side-content .sub_nav {
	position: static;
	border: 0 none
}
.side-content .sub_nav .item_first {
	top: 0
}
.side-content .sub_nav .left_title {
	left: 0
}
.side-content .sub_nav .top_h3 {
	width: 142px
}
.left_108 {
	height: 108px;
	width: 188px;
	overflow: hidden
}
.left_108 img {
	width: 188px
}
.hot_destion li {
	padding-bottom: 10px
}
.hot_destion li span {
	background: #ff9a00;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	height: 16px;
	line-height: 16px;
	text-align: center;
	width: 16px;
	margin-right: 10px
}
.hot_destion li .name:hover {
	color: #f80;
	text-decoration: underline
}
.hot_destion li .hot_num_grey {
	color: #fff;
	background: #dedede
}
